
    <div>
        
        <a href="/home"><img class="logo" src="assets/logo.png"></a>
        <button class="tellamamos" mat-button (click)="openDialog()">Te llamamos</button>

        <a class="derecha" href="/contacto">Contacto</a>
        <!--<i class="fas fa-envelope"><button (click)="openGmail()"> comercialceyma@gmail.com</button></i> -->
    
        <div class="dropdown">
            <button class="dropbtn">Productos</button>
            <div class="dropdown-content">
                <a href="/escayolas">Escayolas</a>
                <a href="/materiales">Materiales</a>
                <a href="/techos">Techos</a>
            </div>
        </div>
    </div>


  
