
    <div>
        <img src="assets/logo.png" href="/home">
        <a href="/contacto">Contacto</a>
        <!--<i class="fas fa-envelope"><button (click)="openGmail()"> comercialceyma@gmail.com</button></i> -->
    
        <div class="dropdown">
            <button class="dropbtn">Productos</button>
            <div class="dropdown-content">
                <a href="/escayolas">Escayolas</a>
                <a href="/materiales">Materiales</a>
                <a href="/techos">Techos</a>
            </div>
        </div>
    </div>
    <!--<form action="#" method="post">
        <label for="nombre">Nombre*</label>
        <input type="text" id="nombre" name="nombre" required>
    
        <label for="asunto">Asunto*</label>
        <input type="text" id="asunto" name="asunto" required>
    
        <input type="submit" value="Enviar">
    </form>-->

  
