
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
<div>
    <a href="/">
        <i href="/" class="material-icons" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;">cloud</i>
    </a>
    <a href="/contacto">Contacto</a>

    <div class="dropdown">
        <button class="dropbtn">Productos</button>
        <div class="dropdown-content">
            <a href="/escayolas">Escayolas</a>
            <a href="/materiales">Materiales</a>
            <a href="/techos">Techos</a>
        </div>
    </div>
</div>