.general{
    background-color: #69231f;
    color: white;
    padding: 10px 20px;

}
.footer{
    display: flex;
    justify-content: space-between;
 }
.Contacte{
    width: 45%;
}



@media screen and (max-width: 721px) {
    .Contacte,
    .lista,
    .maps {
        width: 100%; 
    }
    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
