
<div class="general">
   <h2>Contacta con nosotros</h2>
   <div class="footer">
      <div class="Contacte">
         <i class="fas fa-map-marker-alt"></i> C/ Alfarnatejo (Pol. Ind. La Estrella), 15, 29006 Málaga<br>
         <i class="fas fa-clock"></i> Lunes a Viernes: 7:30 · 14:00H | 15:30 · 18:30H<br>
         <i class="fas fa-phone"></i> 952 32 16 75<br>
         <i class="fas fa-phone"></i> 661 09 24 88<br>
         <i class="fas fa-envelope"></i> <a (click)="openGmail()"> comercialceyma@gmail.com</a><br><br>
         <div class="descripcion">Ceyma M.72  Somos una empresa malagueña con más de 15 años de experiencia en la venta y distribución de materiales de construcción en Málaga,  escayolas, prefabricados de escayolas, tabiquería prefabricada de yeso laminado, molduras, yesos…</div>
      </div>
      <div class="lista">
         <br>
         <ul>
            <li>Aviso legal</li>
            <li>Politica de cookies</li>
         </ul>
      </div>
      <div class="maps">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8165.902289201261!2d-4.477242785374877!3d36.70344026181934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f750ebfb891b%3A0x53296b95f7be0ce4!2sCeyma%20M.72!5e0!3m2!1ses!2ses!4v1702655254234!5m2!1ses!2ses" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
   </div>

</div>