
<div class="footer">
    <br>
    <div class="Contacte">
       <h2>Contacta con nosotros</h2>
       <i class="fas fa-map-marker-alt"></i> C/ Alfarnatejo (Pol. Ind. La Estrella), 15, 29006 Málaga<br>
       <i class="fas fa-clock"></i> Lunes a Viernes: 7:30 · 14:00H | 15:30 · 18:30H<br>
       <i class="fas fa-phone"></i> 952 32 16 75<br>
       <i class="fas fa-phone"></i> 661 09 24 88<br>
       <i class="fas fa-envelope"></i> <a (click)="openGmail()"> comercialceyma@gmail.com</a><br>
    </div>
    <br>
    <div class="CeymaFooter">
       Ceyma M.72  Somos una empresa malagueña con más de 15 años de experiencia en la venta y distribución de materiales de construcción en Málaga,  escayolas, prefabricados de escayolas, tabiquería prefabricada de yeso laminado, molduras, yesos…
    </div>
    <br>
 </div>