.contacta{
    margin-left: 5%;
}

h4{
    margin-left: 5%;
}

.bloques{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.verticalidad{
    display: flex;
    background-color: rgba(165, 195, 207);
    position: relative;
    z-index: 1;
}

form{
    text-align: right;
    margin-left: 25%;
}

body{
    background-color: #a5c3cf;

}


