<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="escayolas.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <title>Escayolas | Ceyma M72</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>
<body>
    <h2 class="escayolas">Escayolas</h2>
    <carousel
        [images]="images"
        [cellsToShow]="1"
        [width]="200"
        [height]="300">
    </carousel>
    <div class="parrafo">
        <br><p>Ceyma M72 cuenta con una gran gama de productos de escayolas y materiales de construcción como molduras, prefabricados de hormigón, yeso, cemento, mortero y techos desmontables. Nuestros profesionales cualificados le atenderan personalmente con un servicio de calidad al mejor precio.<br><br>
        En Ceyma M72 somos una empresa con más de 20 años de experiencia en el sector, todo lo que necesitas para obras y reformas desde de aislamientos acústicos y térmicos, ladrillos, azulejos, baldosas y pavés tanto para particulares como para empresas.<br><br>
        Visita nuestra empresa sito en Málaga capital o ponte en contacto con nosotros sin compromiso y consúltanos para darte un servicio adaptado a tus necesidades.</p><br>
    </div>
    
</body>
</html>
