body{
    background-color: #a5c3cf;
    display:flex;
}
.escayolas{
    width: 25%; 
    text-align: center;
    padding: 5px;
}
.parrafo{
    display: flex;
    align-items: center;
    background-color: #a5c3cf
}
p{
    margin-right: 70px;
}


  