<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="techos.component.css">
    <title>Techos | Ceyma M72</title>
</head>
<body>
    <h2 class="techos">Techos desmontables</h2>
    <div class="parrafo">
        <img src="https://passive.es/images/thumbs/021/0213020_perfil-primario-para-techo-desmontable-blanco-largo-37mts.jpeg" alt="Profesional colocando un techo desmontable" width="30%" height="30%">
        <p>Ceyma M72 cuenta con una gran gama de productos de escayolas y materiales de construcción como molduras, prefabricados de hormigón, yeso, cemento, mortero y techos desmontables. Nuestros profesionales cualificados le atenderan personalmente con un servicio de calidad al mejor precio.<br>
        En Ceyma M72 somos una empresa con más de 20 años de experiencia en el sector, todo lo que necesitas para obras y reformas desde de aislamientos acústicos y térmicos, ladrillos, azulejos, baldosas y pavés tanto para particulares como para empresas.<br>
        Visita nuestra empresa sito en Málaga capital o ponte en contacto con nosotros sin compromiso y consúltanos para darte un servicio adaptado a tus necesidades.</p>
        
    </div>


</body>
</html>
