body {
    font-family: Arial, sans-serif;
  }
  
title {
    color: blue;
  }

.solicitarinformacion{
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.section1{
  padding: 10px 20px;
  background-color: #a5c3cf;
}

.Ceyma{
  padding: 10px 20px;
  background-color:	#3b3b3b;
  color:white
}

.imagenes{
  height: auto;
  max-width: 100%;
  border-radius: inherit;
  opacity: 1;
  box-sizing: border-box;
  aspect-ratio: auto 200 / 200;
  overflow-clip-margin: content-box;
  overflow: clip;
}


.horizontal{
  display:flex;
  align-items:center;
}

.GeneralProductos {
  background-color: #a5c3cf;
  vertical-align: middle;
  text-align: center;
}

.Marcas{
  margin-right: 5.5%;
  margin-left: 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section2{
  padding: 10px 20px;
  background-color: #497a9c;
}

