<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./home.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Inicio Ceyma M72</title>
</head>
<body>
   <header>
      <!-- Despegable -->
      <!-- Boton llamanos -->
      <!-- Despegable -->
      <!-- Buscador -->
      <!-- Contacto -->
   </header>
  <!-- Section 1 titulo , contacto y productos -->
  <section class="section1">
     <h1 class="title">Ceyma M72</h1>
     <h2>Venta de materiales y herramientas de construcción en Málaga</h2>

 <!-- Div for the rectangular box -->
     <div class="Contacto">
         <p class="Contacto">
            Telf: 952 32 16 75 <br>
            Email: comercialceyma@gmail.com <br>
            C/ Alfarnatejo (Pol. Ind. La Estrella), 15, 29006 Málaga
            <br>
            <button class="solicitarinformacion">Solicitar información</button>
            <!--Boton para solicitar informacion-->
         </p>
     </div>
  <!-- Productos -->
         <div class="horizontal">
    <div class="GeneralProductos" *ngFor="let product of productsData.products">
            <img class="imagenes" src="{{product.img}}" alt="{{product.alt}}">
            <h3>{{product.title}}</h3>
            <p>{{product.description}}</p>
         </div>
         <br>
    </div>
  </section>

  <!-- Section 2 Enviar informacion -->
  <section class="section2">
   <br>
      <h2>Solicitar información</h2>
     <h1>Contacto</h1>
     <form action="#" method="post">
         <label for="nombre">Nombre*</label><br>
         <input type="text" id="nombre" name="nombre" required><br>
         <label for="telefono">Teléfono*</label><br>
         <input type="tel" id="telefono" name="telefono" required ><br>
         <label for="email">Correo electrónico*</label><br>
         <input type="email" id="email" name="email" required><br>
         <label for="mensaje">Mensaje*</label><br>
         <textarea id="mensaje" name="mensaje" rows="4" cols="50" required></textarea><br>
         <input type="submit" value="Enviar">
      </form>
         <!--Boton para solicitar informacion-->
      <br>
      <br>
  </section>

 <!-- Section 3 -->
  <section>
   <div class="Ceyma">
     <h2>Ceyma M72</h2>
     <p>En Ceyma M.72 somos una empresa especializada en la venta de materiales de construcción en Málaga. Ponemos a su disposición una amplia gama de materiales de construcción como yeso, escayola, ladrillos, arenas, azulejos, cementos, cementos cola, cubas, etc. Contamos con una gran experiencia en el sector de más de 15 años, por lo que disponemos de profesionales muy cualificados en el sector de la construcción. Ofrecemos la venta de materiales y herramientas para la construcción, yeso, escayolas, etc. Trabajamos siempre con las mejores marcas reconocidas del mercado ofreciendo siempre a nuestros clientes los mejores productos y servicios. Le ofrecemos asesoramiento por parte de nuestros empleados con gran experiencia en el sector para cualquier trabajo que vaya a realizar de acabado en escayola, pladur, aislantes, etc.  Nuestro compromiso con el cliente es nuestra filosofía de trabajo, ofreciéndole servicio y calidad.</p>
     <br>
     <h3>Venta de yeso, escayola, placas de pladur y herramientas de construcción en Málaga.</h3>
     <p>Déjese asesorar por nosotros a la hora de realizar su obra, nos justaremos a las necesidades que pueda tener usted con nuestros productos y materiales de gran calidad. Póngase en contacto con nosotros visitando nuestro almacén de materiales de construcción en Málaga, a través de nuestro número  telefónico 952 321 675, rellenando nuestro formulario de contacto o escribiéndonos a nuestro correo electrónico comercialceyma@gmail.com.</p>
     <br>
   </div>
  </section>


  <!-- Section 4 Marcas -->
  <section>
   <h2>Marcas con las que trabajamos</h2>
   <div class="Marcas" >
      <div class="MarcasFor" *ngFor="let marcas of marcasData.marcas">
         <img class="imagenes" src="{{marcas.img}}" alt="{{marcas.alt}}" width="{{marcas.width}}" height="{{marcas.height}}">
      </div>
   </div>

</section>
  <br>


</body>
</html>
